/* font-family added */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

body{
  font-family: "Azeret Mono", monospace;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* shared styles  starts here*/
.learn-btn{
color: rgb(13, 19, 33);
background-color: white;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
padding: 12px 20px 12px 20px;
box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
cursor: pointer;
}

.target-skill-container, h6{
  color: rgb(13, 19, 33);
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 15px;
  }
  .target-skill-container, p{
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 25px;
  }
  .target-skill-container, a{
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  }
/* shared styles ends here */


/* banner section styles starts here*/          

.banner-container{
  max-width: 1520px;
  height: 695px;
  background-image: url(../B10A1/assets/Hero-bg.png);
  background-size: cover;
  background-position:center ;
  background-repeat: no-repeat;
}
.banner-pic{
  margin-top: 60px;
}
.banner-content{
width:1000px;
height: 680px;
display: flex;
margin: 0 auto;
flex-direction: column;
justify-content: center;
align-items:center;

}
.banner-title{
color: rgb(13, 19, 33);
font-size: 36px;
font-weight: 800;
line-height: 60px;
letter-spacing: 0%;
text-align: center;
margin-top: 50px;
}

.banner-description{
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
margin-top: 25px;
}
.btn{
color: rgb(255, 255, 255);
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
padding: 20px 22px 20px 22px;;
background: rgb(13, 19, 33);
margin-top: 30px;
margin-bottom: 50px;
cursor: pointer;
}

/* banner section styles starts here*/

 /* why-dev-section styles starts here */
 .why-dev-section{
  max-width: 1520px;
  margin: 80px 150px 80px 150px;
 }
 .why-dev-title{
width: 830px;
height: 125px;
margin: 0 auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-bottom: 90px;

 }
.why-dev-heading{
color: rgb(13, 19, 33);
font-size: 30px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: center;
}
.why-dev-description{
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
}
.i-will-do{
  width: 900px;
  height: 350px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 45px;
  margin-bottom: 32px;
}
.i-will-do-content{
width: 480px;
height: 250px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
}
.i-will-do-content h5{
color: rgba(13, 19, 33, 0.7);
font-size: 24px;
font-weight: 700;
line-height: 34px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 15px;
}
.i-will-do-content p{
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
opacity: 0.7;
margin-bottom: 36px;

}
.i-will-do-pic{
  width: 260px;
 height: 250px;
}

.i-will-help{
  width: 900px;
  height: 350px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 45px;
  margin-bottom: 32px;
}
.i-will-help-content{
width: 480px;
height: 250px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;

}
.i-will-help-content h5{
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 15px;
  }
  .i-will-help-content p{
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  opacity: 0.7;
  margin-bottom: 36px;
  
  }
.i-will-help-pic{
  width: 260px;
 height: 250px;
}

/* why-dev-sections styles ends here */
/* inspiration-section starts here */
.inspiration{
  max-width: 900px;
  margin: 0 auto;
  height: 800px;
  margin-top: 90px;
}
.inspiration-heading{
  width: 700px;
  height: 125px;
  margin: 0 auto;
}
.inspiration-heading h5{
color: rgb(13, 19, 33);
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
}
.inspiration-heading p{
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
}
.inspiration-video-container{
position: static;
width: 900px;
height: 540px;
margin: 0 auto;
margin-top: 42px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.2);
border-radius: 16px;

} 
.inspiration-video{
position: static;
width: 830px;
height: 480px;
margin-top: 30px;
margin-left: 35px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
border-radius: 16px;
}
/* inspiration-section ends here */
/* target-section styles stats here */
.target{
  width: 900px;
  height: 620px;
  margin: 0 auto; 
}
.target-heading{
  width: 800px;
  margin: 0 auto;
}
.target-heading h5{
color: rgb(13, 19, 33);
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
}
.target-heading p{
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
}
.target-skill-container{
  width: 900px;
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  align-items: center;
}
.target-html-container{
  width: 260px;
  height: 380px;
  border: 1px solid white;
  background: #FFF6F4;
  padding: 30px;
}

.target-css-container{
  width: 260px;
  height: 380px;
  background: #F2F6FE;
  border: 1px solid white;
  padding: 30px;
}

.target-java-container{
  width: 260px;
  height: 380px;
  background: rgba(255, 223, 0, 0.05);
  border: 1px solid white;
  padding: 30px;
}
/* target-section styles ends here */

/* support section styles starts here */
.support-section-container{
  width: 900px;
  height: 350px;
  margin: 0 auto;
  background-image: url(../B10A1/assets/handshake.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom:80px;
}
.support-section-content{
  width: 800px;
  height: 220px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.support-section-content h5{
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 10px;
}
.support-section-content p{
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 20px;
  opacity: 0.7;
}
.input-field{
  width: 650px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.input-field input{
  width: 480px;
  height: 100%;
  border: none;
  color: white;
  border-radius: 8px;
  margin-right: 20px;
  font-size: 18px;
}
.input-field button{
  width: 100px;
  height: 100%;
  border: none;
  background-color: white;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  border-radius: 8px;
}
/* support section styles ends here */

/* footer section styles start here */
.footer-filed{
  width: 1520px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  background-color: aliceblue;
  padding-left: 300px;
  padding-right: 300px;
}
/* footer section styles ends here */

