/* font-family added */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

body{
  font-family: "Azeret Mono", monospace;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* shared styles */
.learn-btn{
color: rgb(13, 19, 33);
background-color: white;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
padding: 12px 20px 12px 20px;
box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;

}


/* banner section styles starts here*/          

.banner-container{
  max-width: 1520px;
  height: 695px;
  background-image: url(../B10A1/assets/Hero-bg.png);
  background-size: cover;
  background-position:center ;
  background-repeat: no-repeat;
}
.banner-pic{
  margin-top: 60px;
}
.banner-content{
width:1000px;
height: 680px;
display: flex;
margin: 0 auto;
flex-direction: column;
justify-content: center;
align-items:center;

}
.banner-title{
color: rgb(13, 19, 33);
font-size: 36px;
font-weight: 800;
line-height: 60px;
letter-spacing: 0%;
text-align: center;
margin-top: 50px;
}

.banner-description{
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
margin-top: 25px;
}
.btn{
color: rgb(255, 255, 255);
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
padding: 20px 22px 20px 22px;;
background: rgb(13, 19, 33);
margin-top: 30px;
margin-bottom: 50px;
}

/* banner section styles starts here*/

 /* why-dev-section styles starts here */
 .why-dev-section{
  max-width: 1520px;
  margin: 80px 150px 80px 150px;
 }
 .why-dev-title{
width: 830px;
height: 125px;
margin: 0 auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-bottom: 90px;

 }
.why-dev-heading{
color: rgb(13, 19, 33);
font-size: 30px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: center;
}
.why-dev-description{
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
}
.i-will-do{
  width: 900px;
  height: 350px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 45px;
  margin-bottom: 32px;
}
.i-will-do-content{
width: 480px;
height: 250px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
}
.i-will-do-content h5{
color: rgba(13, 19, 33, 0.7);
font-size: 24px;
font-weight: 700;
line-height: 34px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 15px;
}
.i-will-do-content p{
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
opacity: 0.7;
margin-bottom: 36px;

}
.i-will-do-pic{
  width: 260px;
 height: 250px;
}

.i-will-help{
  width: 900px;
  height: 350px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 45px;
  margin-bottom: 32px;
}
.i-will-help-content{
width: 480px;
height: 250px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;

}
.i-will-help-content h5{
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 15px;
  }
  .i-will-help-content p{
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  opacity: 0.7;
  margin-bottom: 36px;
  
  }
.i-will-help-pic{
  width: 260px;
 height: 250px;
}

/* why-dev-sections styles ends here */
/* inspiration-section starts here */
.inspiration{
  max-width: 900px;
  margin: 0 auto;
  height: 700px;
  margin-top: 90px;
}
.inspiration-heading{
  width: 700px;
  height: 125px;
  margin: 0 auto;
}
.inspiration-heading h5{
color: rgb(13, 19, 33);
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
}
.inspiration-heading p{
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
}
.inspiration-video-container{
position: static;
width: 830px;
height: 480px;
margin: 0 auto;
margin-top: 42px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.2);
border-radius: 16px;

} 
.inspiration-video{
position: static;
width: 830px;
height: 480px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
border-radius: 16px;


}
/* inspiration-section ends here */